<% content_for :title, "Editing coin" %>

<h1>Editing coin</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to t("links.edit"), @coin %> |
  <%= link_to t("links.back"), coins_path %>
</div>
